# Stripe
STRIPE_SECRET_KEY=
STRIPE_PRICE_ONESHOT=
STRIPE_PRICE_PRO_MONTHLY=
STRIPE_PRICE_PRO_YEARLY=
STRIPE_PRICE_MAX_MONTHLY=
STRIPE_PRICE_MAX_YEARLY=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# FAL AI
FAL_KEY=

# App URL
NEXT_PUBLIC_APP_URL=

# Facebook Pixel
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=3329808757190564

# TikTok Pixel
NEXT_PUBLIC_TIKTOK_PIXEL_ID=D8D9A9JC77UA33STL290
